---
title: Our work
date: 2022-12-09 10:22 UTC
layout: work
backlink: hide
---

<p>We're proud of our work and the outcomes we've helped organisations achieve.</p>
<p>We're working on some case studies to publish here. If you <a href="mailto:contact@duckworth.design">email us about our work</a> we can share some presentations that summarise our work.</p>
<p>Some of the outcomes we've helped organisations achieve:</p>
<ul>
  <li>Took a programme that had failed their GDS assessment at alpha all the way through to passing the live service standard. The first NHS service at the time to do so</li>
  <li>Designed a service in 2 weeks to speed up registering COVID-19 tests for care homes. Used 24 million times and regularly improved and developed as the pandemic changed</li>
  <li>Led a discovery for the Secretary of State for Health and Social care to review the cost of letters. And viability of using digital communications. Our recommendations were accepted leading to the first national system to allow patients to update their contact details. And a further 14 national projects to improve the quality and use of digital contact details.</li>
  <li>Redesigned how UKHSA handled contacts of Monkeypox to speed up and improve their health protection response</li>
  <li>Saved NHS Digital from investing £50 million into digitalising a system that was found to have no strong user need. Worked with policy teams in DHSC to help them understand and visualise better ways to meet needs</li>
  <li>Redesigned the way NHS Digital allowed people to make non-digital requests to manage their data. Included the paper forms, letters and call centre process and scripts. Codesigned the process with users and the support teams. Radically reduced the number of complaints and support requests</li>
</ul>

<h2>Who we've worked with</h2>
<p>We've worked with many governement departments, start-ups and health organisations. We've likely worked on something that would make us a great fit for your product or service. Some of the places we've provided services for:
<ul>
  <li>Nottingham Trent University</li>
  <li>NHS Digital</li>
  <li>UKHSA</li>
  <li>Sheffield Teaching Hospitals</li>
  <li>Department for Education</li>
  <li>Packt Publishing</li>
  <li>Ministry of Justice</li>
  <li>Department of Health and Social Care</li>
  <li>Department for Transport</li>
</ul>
