.pagination {

  border-top: 1px solid;
  padding: 1rem 0;
  margin: 2rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: 100%;

  .prev {

    text-align: left;
  }

  .next {

    text-align: right;
  }

  a {

    display: block;
  }

  @media screen and (max-width: $mobile) {
    grid-template-columns: 100%;

    .next {

      text-align: left;
    }
  }
}
