---
title: Our playbook
layout: playbook
navbar: navbar-playbook
backlink: hide
---

<h2>Our approach</h2>
<p>How we approach things like making sure we kick off projects well, keep people up to date and shape our work</p>
<ul>
  <li>
    <%= link_to 'How we manage projects and keep everyone up to date', '/our-playbook/agile.html' %>
  </li>
</ul>

<h2>Tools and techniques</h2>
<p>Some of the techniques we use</p>
<ul>
<li>
    <%= link_to 'Open card sorts', '/our-playbook/open-card-sort.html' %>
  </li>
  <li>
    <%= link_to 'Closed card sorts', '/our-playbook/closed-card-sort.html' %>
  </li>
  <li>
    <%= link_to '2-by-2-frameworks', '/our-playbook/2-by-2-frameworks.html' %>
  </li>
</ul>