---
pageable: true
per_page: 100
layout: index
title: Contact
---

<main role="main">

<div class="container-breadcrumb">
  <div class="container ">
        <div class="row">
          <div class="col-md-12">

          <ol class="breadcrumb small">
            <li><%= link_to "Home", "/" %></li>
            <li class="active"><%= current_page.data.title %></li>
          </ol>

          </div>
        </div>
  </div>
</div>
  

  <div class="container container-marketing">

    <div class="row">
      <div class="col-md-7">

        <h1>Contact</h1>

                <%= image_tag 'images/IKr87Ln01.svg', class: "img-responsive img-cartoon", alt: "Small duck with a sticky note and pen" %>


        <p>If you're interested in working with us or want to hear more about us, our teams or our work, fill in the form using the button and we'll get back to you</p>

        <p><a class="btn btn-primary" href="https://forms.gle/Ssz4tNUnJSkAgVQR6">Get in touch</a></p>

        <p>You can also <a href="mailto:contact@duckworth.design">email us</a> if you prefer.</p>

        <h2 class="h4">Join our associate network</h2>
        <p>Freelancer or contractor? We're looking for people to partner with on specific projects. <a href="https://forms.gle/fefoXomPVNoEwzct9">Join our network</a> and we'll get in touch when a project arises that makes sense for us to do together.</p>

      </div>

    </div>

    </div>

    
    
  </div>
</main>